{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "import",
    "@typescript-eslint",
    "simple-import-sort",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
  ],
  "rules": {
    "eqeqeq": ["error"],
    "react/self-closing-comp": ["error"],
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "reservedFirst": true,
        "noSortAlphabetically": false,
        "callbacksLast": true,
        "shorthandFirst": true,
        "multiline": "last",
        "ignoreCase": true,
      },
    ],
    "import/newline-after-import": ["error"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
      },
    ],
  },
  "ignorePatterns": ["dist", "node_modules", "coverage"],
}
