/* hover 색상 변화 제거 */
.react-calendar__tile,
.react-calendar__tile:enabled:hover {
  background: none;
  /* color: inherit; */
  box-shadow: none;
  outline: none;
}

/* click, focus 색상 변화 제거 */
.react-calendar__tile:focus,
.react-calendar__tile:active,
.react-calendar__tile--active {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

/* highlight 날짜 색상 설정 */
.react-calendar__tile.highlight {
  background: #1db954 !important;
  color: white !important;
  border-radius: 50% !important;
}

/* 오늘 날짜 기본 하이라이트 제거 */
/* .react-calendar__tile--now {
  background: transparent;
  color: inherit;
} */
